*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #616469 !important;
}
.mycontainer{
    background-color: rgb(25, 23, 23);
    padding: 50px;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: -1px 5px 46px -5px rgba(92,107,90,1);
-moz-box-shadow: -1px 5px 46px -5px rgba(92,107,90,1);
box-shadow: -1px 5px 46px -5px rgba(92,107,90,1);
}
